{% extends "container.html" %}

{% block body %}
    <div>
        <h1> Gestion et Indexation de données incertaines</h1>
        <br>
        <h3>Le projet</h3>
        <br>
        <p>De nos jours, on constate l’émergence d'une grande quantité de données incertaines produite par plusieurs types d’applications. Cela devient un vrai défi car la gestion de ce type de donnée, sachant que les méthodes classiques et conventionnelles qui sont utilisées pour l’indexation des données dans les systèmes de gestion de bases de données traditionnelles ne sont pas adaptées pour traiter ce type de donnée.

C’est dans ce contexte que l’équipe du  laboratoire LIPADE de l’université Paris Descartes a proposé une approche de la gestion efficace de données catégorielles incertaines en environnement distribué. Cette approche inclut une structure d’index distribué de données incertaines et d’un algorithme d‘évaluation de requêtes. Cette approche sera présentée de manière plus détaillée dans la suite du rapport.</p>

        <h3> L'équipe </h3>
        <input type="image" value="yassine" id="yassine" src="https://media.licdn.com/media/p/4/005/09b/334/191501a.jpg" href="">Yassine
        <input type="image" value="maxime" id="maxime" src="" href="">Maxime
        <input type="image" value="adrien" id="adrien" src="" href="">Adrien
        <input type="image" value="kevin" id="kevin" src="" href="https://www.linkedin.com/in/kevin-le-van-phung-927254107?trk=nav_responsive_tab_profile">Kevin

        <h3> Le porteur du projet</h3>
        <input type="image" value="adel" id="adel" src="" href=""> Adel Benaïssa
    </div>

{% endblock %}
