{% extends "container.html" %}
{% block body %}
    <div class="container" id="index_global_form">
        <form class="form-signin center" action="{{ url_for('index_global') }}" method=post>
            <h2 class="form-signin-heading">Création d'index global</h2>
            <div class="upspace">
                <label for="maladie" class="sr-only">Maladie</label>
                <input type="text" id="maladie" name="maladie" class="form-control" placeholder="Maladie" required autofocus>
                <div class="font-large upspace">
                    <input type="radio" name=choice value="0" checked> Local
                    <input type="radio" name=choice value="1"> Distribué
                </div>
            </div>
            <button class="btn btn-lg btn-connect btn-block" type="submit">Créer</button>
        </form>
    </div>
{% endblock %}