<!doctype html>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/GIDI.css') }}">

<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"> </script>
<title>GIDI</title>

<div class="container" role="main">

    <div class="jumbotron">
        <h1 id="title" class="center text-center">Gestion et Indexation de Données Incertaines</h1>
            {% if not session.connexion %}
                <a class="center" href="{{ url_for('db_connect') }}">
                    <button type="button" class="btn btn-lg btn-gidi">
                        log in
                    </button>
                </a>
            {% else %}
                <a href="{{ url_for('db_disconnect') }}">
                    <button type="button" class="btn btn-lg btn-gidi" >
                        log out
                    </button>
                </a>
            {% endif %}

    </div>

    {% block container %}
    {% endblock %}

</div>
