<!doctype html>

<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/bootstrap.css') }}">
<link rel=stylesheet type=text/css href="{{ url_for('static', filename='bootstrap/css/GIDI.css') }}">

<script src="{{ url_for('static', filename='bootstrap/js/bootstrap.js') }}"> </script>
<title>GIDI</title>

<div class="container" role="main" id="main">

    <nav class="navbar navbar-default">
        <div class="container-fluid">

            {% if not session.connexion %}
                <ul class="nav navbar-nav navbar-left">
                    <a class="navbar-brand" href="{{ url_for('home') }}">Gestion et Indexation des Données Incertaines</a>
                </ul>
            {% else %}
                <ul class="nav navbar-nav navbar-left">
                    <a class="navbar-brand" href="{{ url_for('home') }}">GIDI</a>
                </ul>
                <ul class="nav navbar-nav">
                    <li><a href="{{ url_for('top_k') }}"> Top K </a></li>
                    <li><a href="{{ url_for('threshold') }}"> Threshold </a></li>
                    <li><a href="{{ url_for('index_local') }}"> Creation d'index local </a></li>
                    <li><a href="{{ url_for('index_global') }}"> Creation d'index global </a></li>
                    <li><a href="{{ url_for('db_link') }}"> Creation d'un lien à une nouvelle base </a></li>
                </ul>
            {% endif %}

            <ul class="nav navbar-nav navbar-right">
                {% if not session.connexion %}
                    <a  href="{{ url_for('db_connect') }}">
                        <button id="btn_connect"  type="button" class="btn btn-lg btn-gidi">
                            log in
                        </button>
                    </a>
                {% else %}
                    <a href="{{ url_for('db_disconnect') }}">
                        <button id="btn_disconnect" type="button" class="btn btn-lg btn-gidi" >
                            log out
                        </button>
                    </a>
                {% endif %}
            </ul>

        </div>
    </nav>


    {% block container %}
    {% endblock %}

</div>

