{% extends "container.html" %}
{% block body %}

  {% if error %}<p class=error><strong>Error:</strong> {{ error }}{% endif %}
    <div class="container" id="db_connect_form">
        <form class="form-signin center" action="{{ url_for('top_k') }}" method=post>
            <h2 class="form-signin-heading">Top_k in</h2>
            Rentrez le nombre K que vous voulez :
            <label for="seuil" class="sr-only"></label>
            <input type="number" step=1 min=0 max=400 id="nb_k" name="nb_k" class="form-control" placeholder="0" required><br>

            <button class="btn btn-lg btn-connect btn-block" type="submit">top_k</button>

        </form>
    </div>

{% endblock %}